@media (min-width: 768px) and (max-width: 991px) {
    #banner .banner_cnt p{
        font-size: 16px;
    }
    #banner .banner_cnt h3{
        font-size: 36px;
    }
    #banner .banner_cnt h2{
        font-size: 50px;
    }
    #banner .banner_cnt .p{
        font-size: 12px;
    }
    #About .About_cnt ul li span{
        font-size: 12px;
    }
    .heading h2{
        font-size: 30px;
    }
    #About .About_cnt p{
        font-size: 13px;
    }
    #Skills .skill_cnt h6{
        font-size: 18px;
    }
    #About .About_cnt{
        margin-top: 20px;
    }
    .btn {
        margin-left: 285px;
    }
    #About .CV .cv_img img{
        display: none;
    }
    footer .contact_card .contact_info p{
        font-size: 16px;
    }











}
@media (min-width: 320px) and (max-width: 767px) {
    nav .Menu{
        display: none;
    }
    #banner .banner_cnt p{
        font-size: 12px;
    }
    #banner .banner_cnt h3{
        font-size: 24px;
    }
    #banner .banner_cnt h2{
        font-size: 36px;
    }
    #banner .banner_cnt .p{
        font-size: 10px;
    }
    #About .About_cnt ul li span{
        font-size: 10px;
    }
    .heading h2{
        font-size: 22px;
    }
    #About .About_cnt p{
        font-size: 11px;
    }
    #Skills .skill_cnt h6{
        font-size: 12px;
    }
    #Skills .skill_cnt p{
        font-size: 10px;
    }
    #Skills .skill_img {
        display: none;
    }
 
    .btn {
        margin-left: 0px;
    }
    #About .CV .cv_img img{
        display: none;
    }
    #About .About_cnt{
        margin-top: 0px;
    }
    footer .contact_card .contact_info p{
        font-size: 12px;
    }
    footer .contact_card .contact_info{
        text-align: left;
        margin: 12px 0;
     
    }
    footer .contact_card .contact_icon span{
        background-color: black;
        color: #FF8E5E;
        border-radius: 50%;
        font-size: 12px;
        padding:  10px;
        margin-top: 10px;
    }











}

