*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    list-style: none;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p,span,ul,ol{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1E1E1E;
}
.btn{
    margin-top: 20px;
    margin-left: 200px;
    text-align: center;
}
.button{
    background-color: black;
    color: #FFC5B2;
    padding: 10px 20px;
    text-transform: uppercase;
}
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   background-color: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader .preloader_cnt{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;

}
.preloader .preloader_cnt span{
    display: inline-block;
    width: 3px;
    height: 5px;
    background-color: aquamarine;
    margin: 0 3px;
   animation-name:updown ;
   animation-duration: 1s;
   animation-direction: alternate;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in;

}
.preloader .preloader_cnt span:nth-child(1){
    background-color: dodgerblue;
}
.preloader .preloader_cnt span:nth-child(2){
    background-color: red;
    height: 10px;
    animation-delay: 0.25s;
}
.preloader .preloader_cnt span:nth-child(3){
    background-color: yellow;
    height: 15px;
    animation-delay: 0.50s;
}
.preloader .preloader_cnt span:nth-child(4){
    background-color: lime;
    height: 20px;
    animation-delay: 0.75s;
}
@keyframes updown {
    0%{
        height: 5px;
    }
    50%{
        height: 10px
}
50%{
    height: 15px
}
    100%{
        height: 20px;
    }

    
}
nav {
    display: block;
    width: 100%;
    background-color: #19191D;
    padding: 5px;
}
.navFixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
nav .Menu ul{
    text-align: left;
}
nav .Menu ul li{
    display: inline-block;
    margin: 0px 12px;
}
nav .Menu ul li a{
    color: aliceblue;
    padding: 10px 0;
    margin: 12px 12px;
    position: relative;
    display: block;
    z-index: 1;
}
nav .Menu ul li:hover > ul{
    opacity: 1;
    visibility: visible;
}
nav .Menu ul li:hover >a::before{
    width: 100%;
        }
        nav .Menu ul li:hover > a::before,
        nav .Menu ul li:hover > a::after{
            width: 100%;
        }
nav .Menu ul li a::before{
    content: "";
    width: 0;
    height: 3px;
    background-color: #FF8E5E;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
nav .Menu ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: #FF8E5E;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    transition: 0.5s;
}

nav button{
    color: white;
    background-color: transparent;
    border: none;

}
nav #smallMenu .small_menu li a {
    color: rgb(0, 0, 0);
    display: block;
    font-size: 20px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 10px 20px;
}
body{
    font-family: inter;
}
#banner{
    padding: 50px 0;
}
#banner .banner_cnt p{
    color: white;
    font-size: 18px;
    font-weight: 500;
}
#banner .banner_cnt h3{
    color: white;
    font-weight:700 ;
    font-size: 48px;
}
#banner .banner_cnt h2{
    font-size: 90px;
    color: #FF8E5E;
    text-transform: uppercase;
}
#banner .banner_cnt p *{
margin-top: 5px;
}

#banner .banner_cnt .p{
    text-transform: uppercase;
    margin-top: 20px;
    color: white;
    font-size: 14px;
}
#banner .banner_img{
padding: 50px 0;
}
#banner .banner_img img{
    display: block;
    width: 100%;
}
#About{
    padding: 20px 0 50px 0;
}
#About .About_cnt p{
    text-transform: uppercase;
    margin-top: 20px;
    color: white;

}
#About .About_cnt ul li{
    display: inline-block;
}
#About .About_cnt ul{
    text-align: left;
}
#About .About_cnt ul li span{
    margin: 0 5px;
}

#About .About_cnt .UL1{
    text-align: left;
    margin: 5px 0;
    padding: 0 50px;
}
#About .About_cnt .UL .UL1 li{
    display: inline-block;

}
#About .About_cnt ul li span{
    margin: 0 5px;
    font-size: 14px;
color: white;}


#About .About_cnt .UL1 li{
    position: relative;
}
.heading h2{ 
    font-size: 45px;
    color: #FF8E5E;
    font-weight:  800;
}
#About .About_cnt *{
    margin: 10px 0;
}
#About .About_cnt p{
    font-size: 15px;
    color: white;
    text-transform: capitalize;
}
#About .About_cnt h4{
    color: peachpuff;
}

#About .About_cnt{
    margin-top: 50px;
}
#About .CV .cv_img img{
    display: block;
    width: 100%;
    padding: 5px 60px;
}
#Skills{
    padding: 50px 0;
    background-color: #19191D;
}
 #Skills .skills_container{
    padding: 0 10px;
    margin: 30px 0;
 }

 
 #Skills .skill_cnt h6{
    font-size: 22px;
    font-weight: 700;
    color: white;
    margin-top: 10px;
 }
 #Skills .skill_cnt p{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-top: 5px;
 }
 #Portfolio{
    padding: 50px 0;
 }
 #Portfolio .Portfolio_Container{
    padding:  0 10px;
 }
#Portfolio .Portfolio_Container .portfolio_img img{
    display: block;
    width: 100%;
}
#Portfolio .portfolioSlider{
  padding: 50px 0;
}
#Portfolio .slick-dots{
    text-align:center ;
    margin: 12px 0;
}
#Portfolio .slick-dots li{
    display: inline-block;
    margin: 0 10px;   
}
#Portfolio .slick-dots button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    color: transparent;
 background-color: #FF8E5E;
        display: block;
        text-align: center;
        margin-top: 10px;
        position: relative;
    }
    #Portfolio .slick-dots  button::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        transform: scale(1.5);
        border: 1px solid #ffffff;
        border-radius: 50%;
    }  
    #Portfolio .slick-dots .slick-active button{
       background-color: #FFC5B2;
    } 



footer{
    padding: 50px 0;
    background-color: #19191D;
}
footer .contact_card{
    margin: 20px 0;
}
footer .contact_card .contact{
    margin-top: 25px ;
}
footer .contact_card .contact_info{
    text-align: left;
    color: white;
}
footer .contact_card .contact_icon span{
    background-color: black;
    color: #FF8E5E;
    border-radius: 50%;
    font-size: 15px;
    padding:  10px;
}






